<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pine.kasa.dao.primary.RoleResourceMapper">
	<resultMap id="BaseResultMap" type="com.pine.kasa.model.entity.primary.RoleResource">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="role_id" jdbcType="INTEGER" property="roleId" />
		<result column="resource_id" jdbcType="INTEGER" property="resourceId" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="status" jdbcType="INTEGER" property="status" />
	</resultMap>

	<!--<sql id="Base_Column_List" >
		id,role_id,resource_id,create_time,update_time,status
	</sql>-->

	<!-- Created by pine on 2018-03-22 18:04:48 -->

	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO cc_role_resource(role_id,resource_id)
		VALUES
		<foreach collection="param" item="param" index= "index" separator=",">
			(#{param.roleId},#{param.resourceId})
		</foreach>
	</insert>
</mapper>
